body {
	/*
	background-image:url("/img/02.png"),  url("/img/01.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	*/
}
h1 {
  font-family: abel;
  color: #d83c2d ;
}
h2 {
  font-family: abel;
  color: #d83c2d ;
}
a:hover {
  text-decoration: none;
  color: #d83c2d ;
}
a:focus {
  text-decoration: none;
  color: #d83c2d ;
}
#navbar button {
    border-radius: 1px;
}
#navbar input {
    border-radius: 1px;
}
#navbar input:focus {
    border: 1px solid #3498db;
    box-shadow: none;
}

#mainMessage {
	height: 400px;
}

/* Cursor */
 /* code for animated blinking cursor */
        .typed-cursor{
            opacity: 1;
            font-weight: 100;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }




/* ****** */
#mainMessage {
	font-family: abel;
	font-size: 2em;
	margin-top: 20vh;
}

.fa {
	color: #ffac31; 
	font-size: 1.5em;
	text-align: center;
	margin-top: 20px;
}
#form {
	margin-top: 10px;
}
