* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

@import './scss/_form.scss';
@import './scss/_grid.scss';
@import './scss/_footer.scss';

.app {
  .page {
    padding: 40px 0;
  }
}
